
@{
    ViewBag.Title = "Index";
}
@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">

            <h4 class="page-title">Nuevo ingreso</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="~/inicio/index">Inicio</a>
                </li>
                <li class="active">
                    Nuevo ingreso de Insumos
                </li>
            </ol>
        </div>
    </div>

    
        <div class="row">

            <div class="col-sm-offset-1 col-sm-10">
                <div class="card-box">
                    <div class="row">

                        <div class="panel panel-primary panel-border">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ingreso de insumos de impresoras</h3>
                                <p class="text-muted font-13">
                                    Seleccione la cantidad que ingresa para cada tipo de insumo existente en el sistema para el tipo de equipo impresora.
                                </p>
                            </div>
                        </div>

                        @foreach (var item in ViewBag.insumoimpresora)
                        {

                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="card-box widget-box-1 bg-white">
                                    <h4 class="text-dark">Cantidad actual:  <b class="text-danger">@item.cantidad</b> </h4>
                                    <h2 class="text-primary text-center">@item.nombre</h2>
                                    <p class="text-muted text-center">Ingrese cantidad entrante: </p>
                                    <div class="col-lg-5 col-lg-offset-2">

                                        @Html.TextBox("cantidad", null, new {@class= "form-control", @style = "width:80px", @type = "number" } )

                                    </div>
                                    <div class="col-lg-5">
                                        <a id="esecoso" class="btn btn-icon waves-effect waves-light btn-success btn-md"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
  
    </div>

<div id="coso" data-backdrop="static" style="display: none;">
    <div class="sweet-alert showSweetAlert visible" tabindex="-1" style="display: block; margin-top: -163px;">
        <div class="icon error" style="display: none;">
            <span class="x-mark">
                <span class="line left"></span>
                <span class="line right"></span>
            </span>
        </div>
        <div class="icon warning" style="display: none;">
            <span class="body"></span>
            <span class="dot"></span>
        </div>
        <div class="icon info" style="display: none;"></div>
        <div class="icon success" style="display: none;">
            <span class="line tip"></span>
            <span class="line long"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <div class="icon custom" style="display: block; background-image: url(/assets/plugins/bootstrap-sweetalert/thumbs-up.jpg); width: 80px; height: 80px;width:80px; height:80px">
        </div> <h2>Número de Orden de Compra</h2>
               <p class="lead text-muted" style="display: block;">
                   Ingresa el número de orden de compra del insumo!
                   <div class="col-lg-offset-4">
                       <input type="number" class="form-control" style="width:150px;">
                   </div>
               </p>
        <div class="button-list">
            <button id="cerrar" class="btn btn-lg btn-danger" tabindex="2" style="display: inline-block;">Cerrar</button>
            <button type="submit" class="btn btn-lg btn-primary" tabindex="1" style="display: inline-block;">Aceptar</button>
        </div>
    </div>
</div>



<script src="~/assets/js/spiner.js"></script>

<script>
    $("#esecoso").click(function () {
        $('#coso').modal('show');

    });
    $("#cerrar").click(function () {
        $('#coso').modal('hide');

    });
    
</script>  