<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - SGEI</title>

    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/assets/coso")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>




    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">
                <!-- Logo container-->
                <div class="logo">
                    <a id="inicio" style="cursor: pointer;" class="logo">
                        <span class="text-primary">
                            SGEI - HOSPITAL ALFREDO ITALO PERRUPATO
                        </span>
                    </a>
                </div>
                <!-- End Logo container-->


                <div class="menu-extras">
                    @Html.Partial("_LoginPartial")

                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

            </div>
        </div>

        <div class="navbar-custom">
            <div class="container">
                <div id="navigation">
                    @Html.Partial("_LoginPartial01")
                </div>
            </div>
        </div>




        @*@if (Convert.ToString(System.Web.HttpContext.Current.Session["userid"]) == "1")
            {
                <div class="navbar-custom">
                    <div class="container">
                        <div id="navigation">
                            @Html.Partial("_LoginPartial01")
                        </div>
                    </div>
                </div>
            }

            @if (Convert.ToString(System.Web.HttpContext.Current.Session["userid"]) == "2")
            {
                <div class="navbar-custom">
                    <div class="container">
                        <div id="navigation">
                            @Html.Partial("_LoginPartial02")

                        </div>
                    </div>
                </div>
            }*@

    </header>


    <div class="wrapper">
        <div class="container">@RenderBody()</div>
        <div class="container">
            <footer class="footer text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <script type="text/javascript">
                                copyright = new Date();
                                update = copyright.getFullYear();
                                document.write("By Seba Ruiz - " + "© " + update);
                            </script>.
                        </div>
                        <div class="col-xs-6">
                            <ul class="pull-right list-inline m-b-0">
                                <li>
                                    <a href="#">Acerca</a>
                                </li>
                                <li>
                                    <a href="#">Ayuda</a>
                                </li>
                                <li>
                                    <a href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquerys")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="spiner" class="modal fade bs-example-modal-sm in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm" style="margin-top:200px">
            <div>
                <div>
                    <h4 style="text-align:center;color:black;font-weight:bolder;font-size:25px">Espere...</h4>
                </div>
                <div class="modal-body text-center">

                    <span class="fa fa-spin fa-spinner fa-5x"></span>
                </div>
                @*<div class="progress">
                        <div class="progress-bar progress-bar-primary progress-bar-striped progress-animated wow animated" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>*@
            </div>
        </div>
    </div>


    <script>
    $("#inicio").click(function () {
        $('#spiner').modal('show');

        setTimeout(function () {
            window.location = "@Url.Action("Index","Inicio")";
            $('#spiner').modal('hide');
        }, 1000);
    });
    </script>





</body>
</html >










