@model Negocio.DTO.DTO_sw
@{
    ViewBag.Title = "Alta Switch";
}

<h2>Alta de Camara</h2>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>ALTA DE SWITCH</b></h4>
            <p class="text-muted m-b-30 font-13">
                Use este wizard para dar de alta un switch, recuerde que una vez dado de alta podrá consultar el detalle de dicho switch a travez de la busqueda del mismo como asi tambien editarlo.
            </p>
            @using (Html.BeginForm("GuardarSW", "Home", FormMethod.Post, new { id = "basic-form" }))
            {


                <div>
                    <h3>Switch</h3>

                    <section>


                        <div class="form-group clearfix">
                            @Html.Label("Seleccione el Modelo del switch")
                            @Html.DropDownListFor(x => x.mmarca, new SelectList(ViewBag.modelo, "id_mmarca", "marca_modelo"), new { @class = "form-control", @style = "width:250px;" })
                        </div>

                        <div class="form-group clearfix">
                            @Html.Label("Seleccione la ubicacion de la camara")
                            @Html.DropDownListFor(x => x.ubicacion, new SelectList(ViewBag.ubicacion, "id_ubicacion_switch", "nombre"), new { @class = "form-control", @style = "width:250px;" })
                        </div>
                        <div class="form-group clearfix">
                            @Html.Label("Seleccione la cantidad de interfaces")
                            @Html.TextBoxFor(x => x.interfaces, new { @class = "form-control", @style = "width:250px;", @required = "required" })
                            @Html.ValidationMessageFor(x => x.interfaces, null, new { @class = "label label-danger" })
                        </div>

                    </section>

                    <h3>Detalle</h3>
                    <section>
                        <div class="form-group clearfix">

                            <div class="form-group clearfix">
                                @Html.Label("Ingrese descripcion del Switch")
                                @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control", @style = "width:250px;", @required = "required" })
                                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            @Html.Label("Ingrese numero de IP del Switch")
                            @Html.TextBoxFor(x => x.ip, new { @class = "form-control", @style = "width:250px;", @required = "required" })
                            @Html.ValidationMessageFor(x => x.ip, null, new { @class = "label label-danger" })

                        </div>
                    </section>

                    <h3>Finalizar</h3>
                    <section>
                        <div class="form-group clearfix">
                            <div class="col-lg-12">

                                <label for="test">
                                    Al hacer click en "Finalizar" aceptará guardar la informacion antes descripta. Podra modificar los detalles del Switch en cualquier momento que lo desee.
                                    <br />
                                    Por favor active la casilla:
                                </label>
                                @Html.CheckBox("test", new { @class = "form-control" })

                            </div>
                        </div>
                    </section>
                </div>

            }


        </div>
    </div>
    <div class="col-md-2"></div>
</div>
