@model Model.detalle_impresora_ubicacion

@{
    ViewBag.Title = "CrudDetalle";
    Model.ubicacion_impresora_id = ViewBag.id_ubicacion;
}

<h4 class="page-title">Nueva Impresora!</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Detalle de impresora") </li>
</ol>

@using (Html.BeginForm("GuardarDetalle", "Home", FormMethod.Post, new { id = "frm-detalle" }))
{

    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.ubicacion_impresora_id)
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title"><b>DETALLE DE IMPRESORA</b></h4>

            <div class="row">
                <div class="col-md-12">
                    <h5><b>Detalle de la nueva impresora</b></h5>
                    <p class="text-muted m-b-30 font-13">
                        Llene los campos a continuacion sobre los detalles de la impresora nueva. Si la impresora es local en el campo IP coloque "NO".
                    </p>
                    <div class="form-group">

                        @Html.Label("Numero de IP")
                        @Html.TextBoxFor(x => x.ip, new { @class = "form-control", @style = "width:200px;", @required = "required" })
                        @Html.ValidationMessageFor(x => x.ip, null, new { @class = "label label-danger" })

                    </div>

                    <div class="form-group">

                        @Html.Label("Pc donde se conecta")
                        @Html.TextBoxFor(x => x.pc_dondeseconecta, new { @class = "form-control", @style = "width:200px;", @required = "required" })
                        @Html.ValidationMessageFor(x => x.pc_dondeseconecta, null, new { @class = "label label-danger" })

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



            <div class="text-center">
                <button type="submit" class="btn-custom btn-inverse">Guardar</button>
            </div>

            }

