
@{
    ViewBag.Title = "Index";

}

<h4 class="page-title">Bienvenido!</h4>
<ol class="breadcrumb">
    
    <li class="active">
        Sistema para control de insumos e incidentes de impresoras
    </li>
</ol>
<div class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card-box">
                <h4 class="m-t-0 m-b-20 header-title"><b>INICIO</b></h4>

                <div class="row">
                    <div class="col-md-12">
                        <h5><b>GIMP - Gestion de Impresoras</b></h5>
                        <p class="text-muted m-b-30 font-13">
                            Para comenzar seleccione en el combo la ubicacion de la impresora, el sistema mostrara las impresoras en esa ubicacion.
                        </p>

                        @using (Html.BeginForm("Buscar", "Home", FormMethod.Post, new { id = "frm-incidente" }))
                        {
                        <div class="form-group">
                                 @Html.Label("Nombre de Ubicacion:")
                                 @Html.DropDownList("ubicacion", new SelectList(ViewBag.ubicaciones, "id", "nombreUbicacion"), new { @class = "btn dropdown-toggle btn-white",  @style = "width:200px;" })
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn-custom btn-inverse">Buscar</button>
                                </div>
                            </div>
                            foreach (var item in @ViewBag.insumos)
                            {
                                if (item.cantidad == 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <strong>ATENCION</strong> Sin stock disponible para toner del tipo @item.nombre
                                    </div>
                                }

                                if (item.cantidad < 10 & item.cantidad > 0)
                                {
                                    <div class="alert alert-info" role="alert">
                                        <strong>ATENCION</strong> Quedan @item.cantidad toner del tipo @item.nombre
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>








