@model List<Model.pc>

<h4 class="page-title">Consulta!</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Pcs De Baja") </li>
</ol>
@{
    ViewBag.Title = "Buscar";
}


<div class="card-box table-responsive">
    <table class="table table-striped m-0">
        <thead>
            <tr>
                <th style="width:200px;">NOMBRE PC</th>
                <th style="width:150px;">ULTIMA IP</th>
                <th style="width:220px;">DESCRIPCION</th>
                <th style="width:200px;">FECHA BAJA</th>
                @*<th style="width:200px;">id</th>*@

                <th style="width:30px;"></th>
                <th style="width:30px;"></th>
                <th style="width:30px;"></th>
                <th style="width:30px;"></th>
                <th style="width:30px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <th>@a.nombre</th>
                    <th>@a.ip</th>
                    <th>@a.descripcion</th>
                    <th>@a.fecha_baja</th>


                    <th>
                        <a onclick="return confirm('¿Desea dar de ALTA esta computadora?');" title="Dar de alta nuevamente" class="glyphicon glyphicon-upload" href="~/Consulta/AltaPc/@a.id_pc"></a>
                    </th>
                    <th>
                        <a style="cursor: pointer;" title="Ver motivo de baja" onclick="send(@a.id_pc)" class="glyphicon glyphicon-search"></a>

                    </th>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="motivo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
   <div id="resultado"></div>
</div>


@section Scripts {
        <script>

    function send(e) {

        var url = "@Url.Action("VerMotivo", "Consulta", new { id="param-id"})";
        url = url.replace("param-id", e);

        $("#resultado").load(url);
        $("#motivo").modal('show');
        
    }

        </script>
}
