@model Model.ubicacion_camara

@{
    ViewBag.Title = "Editar Ubicacion Camara";
}

<ol class="breadcrumb">
    <li><a href="~/Inicio/index">Inicio</a></li>
    <li class="active">@(Model.id_ubicacion_camara > 0 ? Model.nombre : "Editar Modelo") </li>
</ol>

@using (Html.BeginForm("Guardarubicam", "ABM", FormMethod.Post))
{
    @Html.HiddenFor(x => x.id_ubicacion_camara)
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card-box">
                <h4 class="m-t-0 m-b-20 header-title"><b>EDITAR UBICACION DE CAMARA</b></h4>

                <div class="row">
                    <div class="col-md-12">
                        <h5><b>Edita las propiedades de la ubicacion </b></h5>
                        <p class="text-muted m-b-30 font-13">
                            Edite la ubicacion
                        </p>
                        <div class="form-group">
                            @Html.Label("Ingrese nombre Ubicacion")
                            @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @style = "width:200px;", @required = "required" })
                            @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn-custom btn-inverse">Guardar</button>
    </div>

}
