@model Negocio.DTO.DTO_u_detalle_telefono
@{
    ViewBag.Title = "Editar Telefono";
}

<h2>Editar Telefono</h2>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>EDITAR TELEFONO</b></h4>
            <p class="text-muted m-b-30 font-13">
                Use este wizard para editar el telefono seleccionado, recuerde que una vez editado podrá consultar el detalle de dicho telefono a travez de la busqueda del mismo como asi tambien volverlo a editarlo.
            </p>


            @using (Html.BeginForm("GuardarTel", "Telefonos", FormMethod.Post, new { id = "basic-form" }))
    {
                
            <div>
                <h3>Telefono</h3>
                @Html.HiddenFor(x => x.id_detalle)
                @Html.HiddenFor(x => x.id_telefono)
                <section>


                    <div class="form-group clearfix">
                        @Html.Label("Seleccione el Modelo del Telefono")
                        @Html.DropDownListFor(x => x.id_mm, ViewBag.modelo as SelectList, new { @class = "form-control", @style = "width:250px;" })
                    </div>
                    <div class="form-group clearfix">
                        @Html.Label("Seleccione el Tipo del Telefono")
                        @Html.DropDownListFor(x => x.id_tipo, ViewBag.tipo as SelectList, new { @class = "form-control", @style = "width:250px;" })
                    </div>
                    <div class="form-group clearfix">
                        @Html.Label("Ubicacion del Telefono")
                        @Html.DropDownListFor(x => x.id_ubicacion_tel, ViewBag.ubicacion as SelectList, new { @class = "form-control", @style = "width:250px;", @disabled="" })
                        <span class="help-block"><small>Para cambiar la ubicacion comuniquese con el administrador.</small></span>
                    
                    </div>

                </section>

                <h3>Detalle</h3>
                <section>
                    <div class="form-group clearfix">

                        <div class="form-group clearfix">
                            @Html.Label("Ingrese descripcion del Telefono")
                            @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control", @style = "width:250px;", @required = "required" })
                            @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        @Html.Label("Ingrese numero de Interno")
                        @Html.TextBoxFor(x => x.nro_interno, new { @class = "form-control", @style = "width:250px;", @required = "required" })
                        @Html.ValidationMessageFor(x => x.nro_interno, null, new { @class = "label label-danger" })

                    </div>
                </section>

                <h3>Finalizar</h3>
                <section>
                    <div class="form-group clearfix">
                        <div class="col-lg-12">
                            @*<div class="checkbox checkbox-primary">*@
                            <label for="test">
                                Al hacer click en "Finalizar" aceptará guardar la informacion antes descripta. Podra modificar los detalles del telefono en cualquier momento que lo desee.
                                <br />
                                Por favor active la casilla:
                            </label>
                            @Html.CheckBox("test", new { @class = "form-control" })
                            @*<input id="checkbox-h" name="checkbox" type="checkbox">*@

                            @*</div>*@
                        </div>
                    </div>
                </section>
            </div>

}
            @*</form>*@

        </div>
    </div>
    <div class="col-md-2"></div>
</div>
